* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Plus Jakarta Sans";
  }
  
  .head-section {
    background: linear-gradient(to left, #dbf4e2, #f6fdec);
    padding: 5px;
  }
  
  .head button {
    width: 115.12999725341797px;
    height: 32px;
    border: none;
    background-color: white;
    border-radius: 7px;
  }
  
  .home>a{
    color: #2ebb77 !important;
  }
  
  .navs-link a {
    color: #000000 !important;
  }

  .navbar-collapse li {
    margin: 0 10px;
  }
  
  .navbar-nav {
    margin: auto;
  }
  
  .link-img {
    background-color: #f5f5f5;
    padding: 15px;
    border-radius: 50%;
  }
  .right-nav-side {
    display: flex;
    gap: 20px;
    margin-right: 50px;
  }
  
  .hotline {
    display: flex;
    flex-direction: column;
    font-size: 14px;
  }

  .cart {
    position: relative;
  }
  
  .notification {
    background-color: #2ebb77;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: white;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -8px;
    right: -5px;
  }
  
  .right-nav-side button {
    width: 127.69px;
    height: 48px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 12px;
    margin-left: 20px;
  }
  .left-section p , header p {
    color: #7E7E7E;
  }
.home-paragr {
    position: relative;
    display: inline-block;
    padding-right: 30px;
    color: #7E7E7E;

}

.home-paragr::after {
    content: "";
    position: absolute;
    top: 55%;
    right: 0;
    transform: translateY(-50%);
    width: 25px;
    height: 1px;
    background-color: #7E7E7E;
   
  }

  .search {
    position: relative;
    display: flex;
    align-items: center;
    background-color: #F5F5F5; 
    border-radius: 10px; 
    padding: 3px;
    width: 100%; 
  }

  .search input {
    border: none;
    background: none; 
    padding: 8px 10px 8px 40px;
    font-size: 1rem;
    color: #6B7280;
    width: 100%; 
    outline: none; 
  }

  .search input::placeholder {
    color: #757575;
  }

  .search i {
    position: absolute;
    right: 15px;
    color: #7E7E7E;
    font-size: 1rem;
  }

  
  .range-slider {
    position: relative;
    width: 100%;
    margin-top: 30px;
  }
  
  .range-slider input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 5px;
    background: #2ebb77;
    border-radius: 5px;
    outline: none;
    position: absolute;
    pointer-events: none;
  }
  
  .range-slider input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    background: #2ebb77;
    border-radius: 50%;
    cursor: pointer;
    pointer-events: auto;
    position: relative;
    z-index: 2;
    border: none;
  }
  
  .range-slider input[type="range"]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #2ebb77;
    border-radius: 50%;
    cursor: pointer;
    pointer-events: auto;
    border: none;
  }
  
  .price-values {
    margin-top: 60px;
    font-size: 16px;
    font-weight: bold;
    
  }
  .filter-button button{
    background-color: #F5F5F5;
    border: none;
    border-radius: 5px;
    width: 80px;
    padding: 10px;
    font-weight: bold;
    
  }
  .filter-button{
    margin-top: -5px;
  }

  .product-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .product-tags p {
    background-color: #F5F5F5;
    width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 0;
    border-radius: 3px;    
  }

  .custom-select {
    border: 1px solid #ddd;
    border-radius: 20px;
    padding: 5px 10px;
    background-color: #fff;
  }
  .view-toggle i {
    font-size: 1.2rem;
    cursor: pointer;
    color: #333;
  }
  .view-toggle i {
    color: #6a6868;
    margin-top: 2px;
  }
  .sale {
    background-color: #2ebb77;
    color: white;
    text-align: center;
    width: 55px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    position: absolute;
    left:2.5%;
    top: 2%;
    font-size: 15px;
  }
  
  .hot {
    background-color: #f09155;
    color: white;
    text-align: center;
    width: 55px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    position: absolute;
    left:2.5%;
    top: 2%;
    font-size: 15px;
  }
  .card4-hot{
    background-color: #f09155;
    color: white;
    text-align: center;
    width: 55px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    position: absolute;
    left:2.5%;
    top: 8.5%;
    font-size: 15px;

  }
 
  .new {
    background-color: #b479d9;
    color: white;
    text-align: center;
    width: 55px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    position: absolute;
    left:2.5%;
    top: 8.5%;
    font-size: 15px;
  }
  
.card-description{
  width: 250px;
  text-align: center;
}
.card4 p , .card8 p , .card10 p{
  color: #2ebb77;
}

.card4 p del ,  .card8 p del , .card10 p del{
  color: #7E7E7E;
}
.sold-out{
  background-color:  black;
  color: #FFFFFF;
  opacity: 0.6;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 30%;
  left: 30%;
}

.pagination .page-item .page-link {
  border: none;
  color: black;
}

.page-item.active .page-link {
  background-color: black !important; 
  color: white; 
  border: none; 
}
.email-input input{
  padding: 10px;
  border: none;
  border-radius: 10px;
  width: 85%;

}
@media (max-width: 575.98px) {
  footer .col-sm-12{
    text-align: center;
  }
}

@media (max-width: 576px) {
  .price-filter {
    width: 80%;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
  }

  .range-slider {
    width: 100%;
  }

  .range-slider input[type="range"] {
    width: 100%;
    margin: 0;
  }


}
@media (max-width: 991px) {
  .price-filter {
    width: 80%;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
  }

  .range-slider {
    width: 100%;
  }

  .range-slider input[type="range"] {
    width: 100%;
    margin: 0;
  }
}

@media (max-width: 576px) {
  .col-lg-9 .row.mx-4.my-5 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .col-lg-9 .col-sm-12 {
    display: flex;
    justify-content: center;
  }

  .col-lg-9 .card1,
  .col-lg-9 .card2,
  .col-lg-9 .card3,
  .col-lg-9 .card4,
  .col-lg-9 .card5,
  .col-lg-9 .card6,
  .col-lg-9 .card7,
  .col-lg-9 .card8,
  .col-lg-9 .card9,
  .col-lg-9 .card10,
  .col-lg-9 .card11 {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .head-section img, nav img {
    max-width: 100%;
    height: auto;
  }

  .col-lg-9 .card1,
  .col-lg-9 .card2,
  .col-lg-9 .card3,
  .col-lg-9 .card4,
  .col-lg-9 .card5,
  .col-lg-9 .card6,
  .col-lg-9 .card7,
  .col-lg-9 .card8,
  .col-lg-9 .card9,
  .col-lg-9 .card10,
  .col-lg-9 .card11 {
    width: 100%; 
    max-width: 200px;
    margin: 0 auto;
  }

  .col-lg-9 .card1>img,
  .col-lg-9 .card2>img,
  .col-lg-9 .card3>img,
  .col-lg-9 .card4>img,
  .col-lg-9 .card5>img,
  .col-lg-9 .card6>img,
  .col-lg-9 .card7>img,
  .col-lg-9 .card8>img,
  .col-lg-9 .card9>img,
  .col-lg-9 .card10>img,
  .col-lg-9 .card11>img {
    width: 100%;
    max-width: 200px;
    height: auto;
  }

  .col-lg-9 .card-description {
    width: 200px;
  }
 
  .card4-hot{
    top: 8.5%;
    top: 9.5%;

  }
  .new {
    top: 9.5%;
  }
  
 
}



